@charset "utf-8";
/* CSS Document */

/* Tree Style*/
#tree {
	width: 150px;
	font-size: 12px;
	font-family: Tahoma, Verdana, sans-serif;
	text-align: left;
}
#tree a {
	color: #000000;
	font-size: 12px;
	font-family: Tahoma, Verdana, sans-serif;
	text-decoration: none;
	padding: 2px 2px 1px 2px;
	cursor: pointer !important;
	cursor: hand;
}
#tree a:hover {
	color: #000080;
	text-decoration: underline;
}
#tree a:active {
	background-color: grey;
}
#tree a.selected {
	background-color: buttonface;
}
#tree a.selected:hover {
	color: #000000;
	text-decoration: underline;
}
#tree img {
	border: none;
	vertical-align: middle;
	margin-right: 3px;
}
#tree img.arrow {
	vertical-align: baseline;
}
#tree img.icon-file {
	margin-left: 9px;
}
#tree ul {
	font-size: 12px;
	font-family: Tahoma, Verdana, sans-serif;
	margin-left: -30px !important;
	margin-left: 10px;
	list-style-type: none;
}
#tree ul.open {
	display: block;
}
#tree ul.close {
	display: none;
}
#tree li {
	margin-top: 3px;
}
#treeTip {
	position: absolute;
	font-size: 12px;
	font-family: Tahoma, Verdana, sans-serif;
	text-align: left;
	background-color: #e5fec7;
	border: 1px solid #a6de71;
	padding: 3px;
	display: none;
	z-index: 99;
	filter: alpha(opacity=90);
	opacity: 0.90;
}
