/* CSS Document */
*{ padding:0; margin:0}
body {

	font-size: 12px;
	line-height: 15px;
	color: #464646;
	margin: 0px;
	padding: 0px;
}
table {
	font-family: "ו";
	font-size: 12px;
	line-height: 15px;
	color: #464646;
}
form {
	margin: 0px;
	padding: 0px;
}
input {
height:22px
	font-size: 14px;
	line-height:20px
	color: #000000;
	padding: 0px;
}

select {
	font-size: 12px;
	color: #000000;
}

option{
	font-size: 12px;
	color: #000000;
}

a:link {
	color:#464646;
	text-decoration: none;
	line-height: 15px;
	font-size: 12px;
}
a:visited {
	color: #464646;
	text-decoration: none;
	line-height: 15px;
	font-size: 12px;
}
a:hover {
	color: #FF0000;
	text-decoration: underline;
	line-height: 15px;
	font-size: 12px;
}

image{ border-width:0}

/* CSS Document end */

.black12_14b,
.black12_14b a:link,
.black12_14b a:visited {color:#333333;text-decoration: none;line-height:14px;font-size:12px; font-weight:bold }
.black12_14b a:hover {color:#A02B0C;text-decoration: none;line-height:14px;font-size:12px; font-weight:bold }

UL {list-style-type:none;}
.ui-widget-content,.tr-content{}
.ui-widget-selected,.tr-selected{background:#FFCC33}
